<body>
         <section id="content-region-3" class="padding-40 page-tree-bg">
            <div class="container">
                <h1 class="page-tree-text">
                    問與答Q&A
                </h1>

            </div>
        </section>
                <div class="space-70"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-4"><hr>
                    <div class="sidebar-box">
                        <h4>categories</h4>
                        <ul class="cat-list">
                            <li><%= link_to("Home", root_path)%></li>
                                <li><%= link_to("住宿", hotel_path,) %></li>
                                <li><%= link_to("安親", daycare_path,) %></li>
                                <li><%= link_to("美容", grooming_path,) %></li>
                                <li><a href="https://linyoga.typeform.com/to/Cry25x", target = "_blank">預約</a></li>
                        </ul>
                    </div><hr>
                  </div>  
                <div class="col-md-8">    
                    <div class="space-40"></div>
                    <h3 class="heading-mini">安親住宿前須知</h3> 
                    <div class="row">
                        <div class="col-md-12 margin-btm-20">
                            <div class="price-faq-box">
                                <h3>住宿前須知</h3>
                                <ul>
                                  <li>
                                    第一次住宿前，狗狗一定要安親6小時一次 (第一次安親不可與住宿當天為同一日)
                                  </li>
                                </ul>
                            </div><!--price faq box-->
                        </div>
                         <div class="col-md-12 margin-btm-20">
                            <div class="price-faq-box">
                                <h3>住宿額外服務及收費</h3>
                                <ul>
                                    <li>住宿24hr早晚散步各一次，若需增加散步次數，增加一次散步加 NT100</li>
                                    <li>入住期間請自備飼料及零食，若需本館提供請先告知，本館使用希爾斯飼料</li>
                                    <li>小型犬飼料一碗 NT30，中型犬飼料一碗 NT60，大型犬飼料一碗 NT90</li>
                                    <li>若住宿期間需餵藥則另加，早晚餵藥各 NT50</li> 
                                </ul>
                            </div><!-- faq box-->
                        </div>
                        <div class="col-md-12 margin-btm-20">
                            <div class="price-faq-box">
                                <h3>貓沒有安親嗎?</h3>
                                <ul>
                                  <li>
                                    不好意思，目前貓只提供住宿，沒有安親的服務喔，謝謝。
                                  </li>
                                </ul>
                              </div><!-- faq box-->
                        </div>
                          <h3 class="heading-mini-left">美容須知</h3> 
                          <div class="row">
                         <div class="col-md-12 margin-btm-20">
                            <div class="price-faq-grooming">
                              <h3>貓手工吹毛？</h3>
                                <ul>
                                  <li>
                                    視情況而定；可能使用烘箱或鎮定美容(由專業獸醫師執行)
                                  </li>
                                </ul>
                            </div><!--faq box-->
                        </div>
                         <div class="col-md-12 margin-btm-20">
                            <div class="price-faq-grooming">
                              <h3>狗-單項服務</h3>
                                <ul>
                                  <li>貴賓腳、臉 NT100</li>
                                  <li>頭部修剪 NT150</li>
                                  <li>局部修剪 NT150-200</li>
                                  <li>拆結技術費 NT200</li>
                                  <li>一般藥浴/除蚤 NT100-200</li>  
                                </ul>
                                
                            </div><!-- faq box-->
                        </div>
                         <div class="col-md-12 margin-btm-20">
                            <div class="price-faq-grooming">
                               <h3>貓-單項服務</h3>
                                <ul>
                                  <li>一般藥浴/除蚤 NT100-200</li>
                                  <li>剪指甲 NT100</li>
                                  <li>修腳底毛 NT100</li>
                                  <li>耳朵清潔 NT100</li>
                                  <li>貓體重大於5KG以上，每1kg增加NT100 </li>  
                                </ul> 
                            </div><!-- faq box-->
                        </div>

                    </div>
                        </div>
                    </div>
              </div>
            </div><!--faqs row end-->
              <div class="space-50"></div>
                <div class="cta-bg">
            <div class="container text-center">
                <h3>安全、像家、但是擁有更多同伴。
                    <a href="https://linyoga.typeform.com/to/Cry25x", target = "_blank", class="btn btn-lg btn-white btn-radius">開始預約</a>
                </h3>
            </div>
        </div>                      
</body>