<body>
         <section id="content-region-3" class="padding-40 page-tree-bg">
            <div class="container">
                <h1 class="page-tree-text">
                    問與答Q&A
                </h1>

            </div>
        </section>
                <div class="space-70"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-4"><hr>
                    <div class="sidebar-box">
                        <h4>categories</h4>
                        <ul class="cat-list">
                            <li><%= link_to("Home", root_path,)%></li>
                                <li><%= link_to("安親住宿前須知", anchor: "hotelknow") %></li>
                                <li><%= link_to("美容須知", anchor: "groomingknow") %></li>
                                <li><a href="https://linyoga.typeform.com/to/Cry25x", target = "_blank">預約</a></li>
                        </ul>
                    </div><hr>
                  </div>  
                <div class="col-md-8">    
                    <div class="space-40"></div>
                    <h3 class="heading-mini"><a id="hotelknow">安親住宿前須知</a></h3> 
                    <div class="row">
                        <div class="col-md-12 margin-btm-20">
                            <div class="price-faq-box">
                                <h3>住宿前須知</h3>
                                <ul>
                                  <li>
                                    第一次住宿前，狗狗一定要安親6小時一次 (第一次安親不可與住宿當天為同一日)
                                  </li>
                                  <li>
                                    每次入住旅館和安親前皆須完成該年度預防針，並攜帶年度預防針手冊供本店查詢。
                                  </li>
                                  <li>
                                    狗：十/八合一疫苗 + 狂犬病疫苗
                                  </li>
                                   <li>
                                    貓：五/三合一疫苗 + 狂犬病疫苗
                                  </li>
                                  <li>
                                    完成體內、體外驅蟲預防藥，需提供證明，若期間在寵物身上發現寄生蟲則加收<b>除蚤費及館內清潔費500元整。</b>
                                  </li>
                                  <li>
                                    每次住宿和安親前需一個禮拜內已美容或洗澡過，請預留20分鐘進行基礎體檢和資料確認。
                                  </li>
                                </ul>
                            </div><!--price faq box-->
                        </div>
                        <div class="col-md-12 margin-btm-20">
                            <div class="price-faq-box">
                                <h3>為什麼住宿前需要安親六小時呢？</h3>
                                <ul>
                                  <li>
                                    到了新環境最需要給他們充裕時間好好地適應周遭的人、事、物後才能在下回來旅館住宿時好好的放鬆，有時候連六個小時其實還是不夠的，另外在這第一次六小時的相處時間裡，褓姆除了跟您的寶貝培養感情，也會仔細記錄他的性格及習慣，有時候會有爸媽意想不到的狀況跟表現喔!
                                  </li>
                                </ul>
                            </div><!--price faq box-->
                        </div>
                         <div class="col-md-12 margin-btm-20">
                            <div class="price-faq-box">
                                <h3>住宿額外服務及收費</h3>
                                <ul>
                                    <li>住宿24hr早晚散步各一次，若需增加散步次數，散步收費NT100/次，每日散步增加次數上限為兩次。</li>
                                    <li>入住期間請自備飼料及零食，若需本館提供請先告知，本館使用希爾斯飼料。</li>
                                    <li>小型犬飼料一餐 NT30，中型犬飼料一餐 NT60，大型犬飼料一餐 NT90，以此類推。</li>
                                    <li>喂口服藥/保健食品收費為NT100/天，若保健食品可以混飼料或口服則不另外收費。</li>
                                    <li>點眼藥收費NT100/2次內，NT200/3次以上。</li>
                                    <li>清耳朵收費NT100/1天1次，如使用旅館所販售之商品1天1次內免費。</li> 
                                    <li>梳毛收費NT100/次，局部梳毛最多可以2次/天，全身梳毛只能1次/天</li>
                                    <li>刷牙收費NT100/次，每日最多兩次(早/晚)</li>
                                    <li>耳藥收費NT100/早晚。</li>
                                    <li>擦藥膏收費NT100/天</li>      
                                </ul>
                            </div><!-- faq box-->
                        </div>
                        <div class="col-md-12 margin-btm-20">
                            <div class="price-faq-box">
                                <h3>貓沒有安親嗎?</h3>
                                <ul>
                                  <li>
                                    因為貓咪房間數量較少，為避免打擾已經在房間內的房客，比較不建議平時太多貓咪頻繁進出貓咪旅館。
                                  </li>
                                </ul>
                              </div><!-- faq box-->
                        </div>
                          <h3 class="heading-mini-left"><a id="groomingknow">美容Q&A</a></h3> 
                          <div class="row">
                          <div class="col-md-12 margin-btm-20">
                            <div class="price-faq-grooming">
                              <h3>體型僅供參考，依現場毛量及處理細節實際報價，這是什麼意思呢？</h3>
                                <ul>
                                  <li>
                                    因有些寶貝們實際來之後，會有一些需要額外處理的狀況，比如說毛髮嚴重打結等等，所以我們必須看到你們家寶貝們來的實際情況，才能做最後的報價，如果需要也可以照下他們的照片傳到我們的<a href="mailto:elite.eah@gmail.com" itemprop="email"></i>E-mail：elite.eah@gmail.com</a>，我們會做初步的估價，謝謝。
                                  </li>
                                </ul>
                            </div><!--faq box-->
                        </div>
                            
                         <div class="col-md-12 margin-btm-20">
                            <div class="price-faq-grooming">
                              <h3>每隻貓咪都適合手工吹毛嗎?</h3>
                                <ul>
                                  <li>
                                    有些貓咪不適合手吹 ，可能使用烘箱或由專業獸醫師進行鎮定美容。
                                  </li>
                                </ul>
                            </div><!--faq box-->
                        </div>

                        <div class="col-md-12 margin-btm-20">
                            <div class="price-faq-grooming">
                              <h3>美容服務</h3>
                                <ul>
                                  <li>
                                    基礎美容：<p>除垢清潔、深層清潔、深層護毛、剪指甲、修腳底毛、修腹部毛、修屁股毛、擠肛門腺及外耳清潔保養、拔耳毛、手工毛髮吹整等11道程序。</p>
                                  </li>
                                  <li>
                                    精緻美容：<p>精緻修剪、除垢清潔、深層清潔、深層護毛、剪指甲、修腳底毛、肉墊保養、肉墊按摩、修腹部毛、修屁股毛、擠肛門腺及外耳清潔保養、拔耳毛、手工毛髮吹整等14道程序。</p>
                                  </li>
                                </ul>
                            </div><!--faq box-->
                        </div>
                         <div class="col-md-12 margin-btm-20">
                            <div class="price-faq-grooming">
                              <h3>狗-單項服務</h3>
                                <ul>
                                  <li>一般藥浴 NT150-NT250(依體型)</li> 
                                  <li>除蚤 NT200-NT400(依體型)</li> 
                                  <li>頭部修剪 NT150</li>
                                  <li>局部修剪 NT150-NT200</li>
                                  <li>拆結技術費 NT200</li>
                                  <li>貴賓腳、臉 NT100</li>
                                </ul>
                                
                            </div><!-- faq box-->
                        </div>
                         <div class="col-md-12 margin-btm-20">
                            <div class="price-faq-grooming">
                               <h3>貓-單項服務</h3>
                                <ul>
                                  <li>一般藥浴 NT150-250(依體型)</li>
                                  <li>除蚤 NT250-NT300(依體型)</li>
                                  <li>剪指甲 NT100</li>
                                  <li>修腳底毛 NT100</li>
                                  <li>耳朵清潔 NT100</li>
                                  <li>貓體重大於5KG以上，每1kg增加NT100 </li>  
                                </ul> 
                            </div><!-- faq box-->
                        </div>
                        <p class="text-right"><%= link_to("back to top", anchor: "top") %></p>
                    </div>
                        </div>
                    </div>
              </div>
            </div><!--faqs row end-->
              <div class="space-50"></div>
                <div class="cta-bg">
            <div class="container text-center">
                <h3>只要一分鐘即可完成預約
                    <a href="https://linyoga.typeform.com/to/Cry25x", target = "_blank", class="btn btn-lg btn-black btn-radius" id = "reservation-faqs">開始預約</a>
                </h3>
            </div>
        </div>                      
</body>
<script type="text/javascript">
  var link = document.getElementById('reservation-faqs');
    analytics.trackLink(link, '表單預約', {
    location: 'Center',
    color: 'blue',
    text: '開始預約',
    CTA: 'form',
    category: 'faq Page',
    type: 'Button',
    pageTitle: document.title
  });
  </script> 