        <section id="content-region-3" class="padding-40 page-tree-bg">
            <div class="container">
                <h3 class="page-tree-text">
                    最新消息
                </h3>
            </div>
        </section><!--page-tree end here-->
        <div class="space-70"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="heading-sec">
                        <%= @post.title %>
                    </h2>
                    <p><%= markdown(@post.content) %></p>
                </div>
            </div>
        </div><!--full width page end-->